/* The font applies to all text within the body */
body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 0.5.rem;
    margin-bottom: 0.2rem;
}
h3 {
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: -0.8rem;
}


.menu {
    background-color: grey;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* These properties represent the default state of the list element in the container for navigation menu, 
they also have a function to ease the transition back to the default state after the hover no longer applies.*/
.menu li {
    list-style-type: none;
    text-align: center;
    transition: linear;
    transition-duration: 50ms;
    background-color: rgb(78, 153, 204); /* Clor: Light Blue, 50% opaque*/
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* Whenever the mouse hovers on the list element, these properties will apply,
and therefore we can manipulate the sizing and shadows as such it adds some dimensionality and feedback to the UI,
so the user knows easily what they are selecting.*/
.menu li:hover {
    transition: linear;
    transition-duration: 150ms;
    background-color: rgb(29, 187, 61); /* Color: Green */
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    transform: scale(1.2);
}

/* This makes the <a> tag not show an underline, so it can be customized as fit for its purpose,
which is a redirect for a subfolder for the HTML*/
.nav-container li  a{
    text-decoration: none;
    color: black;
}
